<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <!-- Specify coverage report output in HTML format -->
        <report>
            <html outputDirectory="build/coverage_html"/>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Omnipay PayWay REST API Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Mockery\Adapter\Phpunit\TestListener" file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"/>
    </listeners>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
    <!-- Specify test log output in JUnit XML format -->
    <logging>
        <log type="junit" target="build/log/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="build/log/testdox.html"/>
    </logging>
</phpunit>
